absl-py==2.1.0
astunparse==1.6.3
cachetools==4.2.4
certifi==2024.8.30
charset-normalizer==3.4.0
funcsigs==1.0.2
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.68.1
h5py==2.10.0
idna==3.10
importlib_metadata==8.5.0
joblib==1.4.2
Keras-Preprocessing==1.1.2
Markdown==3.7
MarkupSafe==2.1.5
numpy==1.18.5
oauthlib==3.2.2
opt_einsum==3.4.0
protobuf==3.15.8
pyasn1==0.6.1
pyasn1_modules==0.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==0.24.0
scipy==1.6.3
six==1.17.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.1
tensorflow-estimator==2.2.0
termcolor==2.4.0
threadpoolctl==3.5.0
urllib3==2.2.3
Werkzeug==3.0.6
wrapt==1.17.0
zipp==3.20.2
